* {
    box-sizing:border-box;
}
body  {
    padding: 0;
margin: 0;
font-family: sans-serif;
}
html, body {
    height: 100%;
}
h1 {
    margin: 0;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    background: rgba(187, 187, 187, 0.8);
}
.sidebar {
    background: #FFFFFF;
border-radius:  0 20px 20px 0;
padding: 20px;
}
.content {
    max-width: 1099;
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    "img1 img1 img3 img4"
    "img2 img2 img3 img4"
    "img5 img6 img7 img7"
    "img5 img6 img8 img8";
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 992px){
    .wrapper {
        grid-template-columns: 250px auto; 
    }
    .sidebar {
        display: none;
    }
    .content {
        grid-template-areas: 
    "img1 img1 "
    "img2 img2 "
    "img3 img4 "
    "img5 img6 "
    "img5 img6 "
    "img7 img7 "
    "img8 img8 ";
    }
}

.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
  ;
}
